@use './fonts';
@use './normalize';

* {
font-family: 'Nunito Sans';
}

:root {
  --color-primary: #18121E;     // тёмный фон шапки
  --color-white: #FDFDFD;       // белый текст
  --color-accent: #2D9CDB;      // цвет кнопки
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 1180px;
  margin: 0 auto;
}